/* position */
.p-fixed {
    position: fixed;
}


/* display */
.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-flex-row {
    flex-direction: row;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}


/* align */
.d-flex-align-center {
    justify-content: center;
    align-items: center;
}


/* font */
.bold {
    font-weight: bold;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}