/*  */
.item {
    padding: 10px 0 10px 20px;
    margin: 15px 0 0 15px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.item:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2);
}

/* checkbox */
.checkbox-area {
    margin-right: 10px;
}

.checkbox-area .checkbox-item {
    width: 1.3em;
    height: 1.3em;
    background-image: url("/images/unchecked-circle.svg");
    cursor: pointer;
    user-select: none; /* 드래그 금지 */

    &:has(input:checked) {
        background-image: url("/images/checked-circle.svg");    
    }
}


/* content */
.content-area {
    width: 100%;
}

.input-content {
    width: 65%;
    cursor:text;
}

.completed-content {
    text-decoration: line-through;
}


/* button */
.btn-area {
    margin-right: 30px;
}

.btn {
    content: "";
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    width: 1.1rem;
    height: 1.1rem;
}

/* .btn-area .edit-btn{
    background-image: url("/images/edit.svg");
    width: 20px;
    height: 20px;
    margin-right: 15px;
} */

.btn-area .delete-btn{
    background-image: url("/images/cancel.svg");
}