/* toggle */
.toggle-area {
    margin-top: 70px;
    user-select: none;
}

.toggle-area input, .toggle-area label {
    cursor: pointer;
}

.toggle-area:first-child {
    margin-top: 30px;
}

.toggle-switch {
    &::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
    }
}